* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(173, 242, 252);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    /*padding: 1%;*/
    width: 25%;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.head {
    background-image: url('../img/Londres.jpg');
    background-size: cover;
    /*tamaño de foto*/
    background-attachment: fixed;
    /*fondo fijo*/
    padding: 10%;
    /*10% 20px;*/
    text-align: left;
    color: white;
}

.head h1 {
    font-size: 8vw;
    color: black;
}

.head h1:hover {
    animation-name: multicolor-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes multicolor-text {
    0% {
        color: #ff0000;
    }
    25% {
        color: #4460ff;
    }
    50% {
        color: #4460ff;
    }
    100% {
        color: #ff0000;
    }
}


/*colores de barras*/

.sep-color {
    margin: 0;
    /*margin-top: -4px;*/
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 20px;
    animation-name: multicolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes multicolor {
    0% {
        background-color: #ff0000;
    }
    25% {
        background-color: rgb(255, 255, 255);
    }
    50% {
        background-color: #0026ff;
    }
    100% {
        background-color: #ff0000;
    }
}


/*Columnas*/

.one-column {
    float: left;
    width: 100%;
    margin: 0px;
    /*padding: 10px;*/
}

.one-column h1 {
    font-size: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.one-column img {
    border-radius: 5%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.two-column {
    padding: 2%;
    float: left;
    width: 50%;
    margin: 0px;
}

.two-column h1 {
    text-align: center;
    font-size: 48px;
}

.two-column p {
    text-align: left;
    font-size: 24px;
    padding-left: 20%;
    padding-right: 20%;
}

.one-column h2 {
    font-size: 32px;
    text-align: center;
    /*margin-left: auto;
    margin-right: auto;*/
}

.two-column img {
    border-radius: 15px;
    padding-top: 5%;
    /*margin-top: auto;
    margin-right: auto;*/
    width: 100%;
    height: auto;
}

#countdown {
    font-size: 36px;
    text-align: center;
}

.center_img {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.pad-bottom {
    padding-bottom: 15px;
}

.pad-top {
    padding-top: 25px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.icon {
    font-size: 18vh;
}

.galeria {
    width: 100%;
    margin: auto;
    list-style: none;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 210px;
    height: 130px;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

#customers {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff2c2c;
    color: white;
}

#footer {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 15px;
}

#footer p {
    text-align: center;
    font-size: 20px;
}

.text {
    width: 100%;
}

.pad-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*===============================*/

@media screen and (max-width:700px) {
    .two-column {
        width: 100%;
        padding: 0;
    }
    .one-column {
        padding: 0%;
    }
    .one-column h1 {
        font-size: 18px;
    }
    .one-column h2 {
        font-size: 14px;
    }
    .oe-column p {
        font-size: 12px;
    }
    .two-column h1 {
        font-size: 18px;
    }
    .two-column h2 {
        font-size: 14px;
    }
    .two-column p {
        font-size: 12px;
        text-align: center;
    }
    #countdown {
        font-size: 20px;
    }
}

@media screen and (max-device-width:700px) {
     ::-webkit-scrollbar {
        display: none;
    }
}